<div class="container">
    <div class="row justify-content-md-center  rounded">

        <div *ngIf="(productsDetails$ | async)">
            <div class="card-group">

                <div class="card">
                    <img [src]="(productsDetails$ | async).pictureUrl" class="card-img-top" alt="...">
                    <div class="card-body">
                        <div *ngIf="(isLogged$ | async); else goBack">
                            <button type="button" class="btn btn-lg btn-outline-secondary">Go back</button>
                            <button type="button" class="btn btn-lg btn-warning">Edit</button>
                            <button type="button" class="btn btn-lg btn-danger">Delete</button>
                        </div>
                        <ng-template #goBack>
                            <button type="button" class="btn btn-lg btn-outline-secondary">Go back</button>
                            <button type="button" class="btn btn-lg btn-outline-success">Sign in and shop</button>
                        </ng-template>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{(productsDetails$ | async).name}}</h5>
                        <p class="card-text">{{(productsDetails$ | async).description}}</p>
                        <div *ngIf="(isLogged$ | async); else guestPrice">
                            <div class="btn-group" role="group" aria-label="Basic outlined example">
                                <button type="button" class="btn btn-md btn-warning"><strong>Add to cart:</strong>
                                    {{(productsDetails$ | async).price}}$</button>
                            </div>
                        </div>
                        <ng-template #guestPrice>
                            <a class="btn btn-md btn-warning" disabled>
                                <strong>Price:</strong> {{(productsDetails$ | async).price}}$
                            </a>
                        </ng-template>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>