<div class="container">
    <div class="row justify-content-md-center  rounded">

        <div *ngIf="(productsDetails$ | async)">
            <div class="card-group">

                <div id="card-left" class="card">
                    <img id="pictureUrl" [src]="(productsDetails$ | async).pictureUrl" class="card-img-top" alt="...">
                    <div class="card-body">

                        <!-- IF LOGGED -->
                        <div *ngIf="(isLogged$ | async); else guestNav">

                            <!-- IF ADMIN -->
                            <div *ngIf="(isAdmin$ | async)">
                                <div class="btn-group w-100" role="group">
                                    <button routerLink="/product/all"
                                        class="btn btn-lg btn-outline-secondary border-dark text-dark">Products</button>
                                    <button routerLink="/cart" class="btn btn-lg btn-outline-secondary border-dark text-dark">My cart</button>
                                    <button *ngIf="(productsDetails$ | async) as product"
                                        (click)="productEdit(product.id)" class="btn btn-lg btn-warning border border-dark text-dark">Edit</button>
                                    <button *ngIf="(productsDetails$ | async) as product"
                                        (click)="productRemove(product.id)"
                                        class="btn btn-lg btn-danger border border-dark text-dark">Delete</button>
                                </div>
                            </div>

                            <!-- NOT ADMIN -->
                            <div *ngIf="!(isAdmin$ | async)">
                                <div class="btn-group w-100" role="group">
                                    <button routerLink="/product/all"
                                        class="btn btn-lg btn-outline-success">All products</button>
                                    <button routerLink="/cart" class="btn btn-lg btn-outline-success">My cart</button>
                                </div>
                            </div>

                        </div>

                        <!-- GUEST -->
                        <ng-template #guestNav>
                            <div class="btn-group w-100" role="group">
                                <button routerLink="/product/all" class="btn btn-lg btn-outline-success">All
                                    products</button>
                                <button routerLink="/login" class="btn btn-lg btn-outline-success">Sign in and
                                    shop</button>
                            </div>
                        </ng-template>

                    </div>
                </div>

                <div id="card-right" class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{(productsDetails$ | async).name}}</h5>
                        <p class="card-text">{{(productsDetails$ | async).description}}</p>

                        <div *ngIf="(isLogged$ | async); else guestPrice">
                            <div class="btn-group" role="group" aria-label="Basic outlined example">
                                <button *ngIf="(productsDetails$ | async) as product" (click)="addToCart(product.id)"
                                    class="btn btn-md btn-warning">
                                    <strong>Add to cart:</strong> {{(productsDetails$ | async).price}}$
                                </button>
                            </div>
                        </div>
                        <ng-template #guestPrice>
                            <a class="btn btn-md btn-warning" disabled>
                                <strong>Price:</strong> {{(productsDetails$ | async).price}}$
                            </a>
                        </ng-template>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>