<div class="row">

    <div class="col-3">

        <div class="btn-group-vertical w-100">
            <div *ngFor="let contact of (contactsAll$ | async)" class="w-100">
                <button (click)="changeCity(contact.cityName)" type="button" class="btn btn-lg btn-outline-success w-100">
                   Office {{contact.cityName}}
                </button>
            </div>
        </div>

        <div id="description" *ngIf="currentCity$ | async">

            <div class="fst-normal"> Adress:</div>
            <div class="fw-light">{{(currentCity$ | async).address}}</div>

            <div class="fst-normal"> Tel.:</div>
            <div class="fw-light"> {{(currentCity$ | async).tel}}</div>

            <div class="fst-normal"> Email:</div>
            <div class="fw-light"> {{(currentCity$ | async).email}}</div>

            <div class="fst-normal"> Working hours:</div>
            <div class="fw-light">Mon-Fri: {{(currentCity$ | async).workingHoursWeek}} </div>
            <div class="fw-light">Sat-Sun: {{(currentCity$ | async).workingHoursWeekend}}</div>

        </div>
    </div>

    <div class="col" *ngIf="currentCity$ | async">
        <iframe [src]="(currentCity$ | async).iframeUrl | safeIframe" width="600" height="450" style="border:0;"
            allowfullscreen="" loading="lazy"></iframe>
    </div>

</div>