<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">

        <div class="navbar-brand">
            <a routerLink="/home" class="btn btn-outline-success btn-lg">Home</a>
        </div>

        <div *ngIf="(isLogged$ | async); else loggedOut">
            <div class="btn-group" role="group" aria-label="Basic outlined example">
                <a routerLink="/product/all" class="btn btn-outline-success btn-lg">Products</a>
                <a routerLink="/cart" class="btn btn-outline-success btn-lg">My cart</a>
                <a routerLink="/contact" class="btn btn-outline-success btn-lg">Contacts</a>
                <a (click)="logout()" class="btn btn-outline-success btn-lg">Logout</a>
            </div>
        </div>

        <ng-template #loggedOut>
            <div class="btn-group" role="group" aria-label="Basic outlined example">
                <a routerLink="/product/all" class="btn btn-outline-success btn-lg">Products</a>
                <a routerLink="/contact" class="btn btn-outline-success btn-lg">Contacts</a>
                <a routerLink="/register" class="btn btn-outline-success btn-lg">Register</a>
                <a routerLink="/login" class="btn btn-outline-success btn-lg">Login</a>
            </div>
        </ng-template>
    </div>
</nav>
<nav class="navbar navbar-light bg-transparent">
    <div class="alert alert-light col-1"> </div>

    <div id="notification" [className]="(notificationState$ | async).className" role="alert">
        {{(notificationState$ | async).notificationMessage}}
    </div>

    <div *ngIf="(isLogged$ | async); else tempCelsius">
        <div id="username" class="btn btn-lg btn-outline-dark border border-white disabled d-flex flex-row-reverse">
            Welcome, {{userUsername$ | async}}
        </div>
    </div>

    <ng-template #tempCelsius>
        <div id="celsius" class="btn btn-lg btn-outline-dark border border-white disabled d-flex flex-row-reverse">
            <div *ngIf="(weather$ | async)">
                {{(weather$ | async).name}} {{(weather$ | async).main.temp | number : '1.0-0' }} &#8451;
            </div>
        </div>
    </ng-template>
</nav>